<div class="content" role="main">

  <h1 class="text-2xl font-bold">Meow meow :3</h1>
  <nav>
    <a routerLink="/lorem" routerLinkActive="active" ariaCurrentWhenActive="page">Tłumacz</a>
    <a routerLink="/dwa" routerLinkActive="active" ariaCurrentWhenActive="page">coś inengo</a>
    <a routerLink="/trzy" routerLinkActive="active" ariaCurrentWhenActive="page">Publiczny Adres IP</a>
    <a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">Formularz</a>
  </nav>
</div>

<router-outlet></router-outlet>